*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
   
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Josefin Sans', sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 5rem;
}

.logo{
    margin-right: auto;
    font-weight: 700;
    padding-left: 5rem;
    font-size: 3.5rem;
    color: #ff9f43;
}

nav{
    font-size: 1.8rem;
}
nav a{
    text-transform: capitalize;
    list-style: none;
    color: lightgray;
    text-decoration: none;
}

nav a:hover{
    color: black;
}

.list{
    margin: 0 3rem;
}

.welcome{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.welcome_text{
    font-size: 4rem;
    text-transform: capitalize;
}

.text{
    display: inline-block;
    margin-bottom: 2rem;
}

.text1,.text2,.text3{
    -webkit-text-stroke: 0px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.text1,.text3{
    font-size: 6rem;
}

.text3{
    margin-bottom: 0;
}
.text4{
    font-weight: 200;
    font-size: 2rem;
}
.welcome_img{
    width:50%;
}

.welcome_img img{
    width: 100%;
}

@media(max-width:768px){
    html{
        font-size: 50%;
    }
    
    .welcome_img{
        width:100%;
    }

    
}