*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html, body {
    overflow-x: hidden;
  }

 body{
    width:100%;
}

html{
    font-size: 62.5%;
    width: 100vw;
    height: 100vh;
    
}

body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
}

 header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
    margin-bottom: 3rem;
}


header .logo{
    font-weight: 700;
    font-size: 3.5rem;
    color: #ff9f43;
}

.navbar-scroll-block{
    overflow: hidden;
}

.navbar{
    font-size: 1.8rem; 
}

.navbar a{
    text-transform: capitalize;
    list-style: none;
    color: lightgray;
    text-decoration: none;
}


.navbar a:hover{
    color: black;
}


.icon{
    color: black;
    display: none;
    z-index: 20;
}

.list{
    margin: 0 3rem;
}


.text{

    display: inline-block;
    margin-bottom: 2rem;
}

.text1,.text2,.text3{
    -webkit-text-stroke: 0px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.text1,.text3{
    font-size: 7rem;
}

.text2{
   font-size:3rem;
}
.text3{
    margin-bottom: 0;
}
.text4{
    font-weight: 200;
    font-size: 2rem;
}

.welcome_container{
    padding: 2rem 3rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.welcome_img{
    max-width: 55rem;
}

h3{
    text-align: left;
}

.my-skills{

    width: 100%;
    margin-top: 7rem;
    padding: 2rem 2rem;
    background-color: white;
    height: 71rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2.5  rem;
    position: relative;
}

.skill-img{
    width: 35%;
}

.skill-img img{
    width: 100%;
}
.my-skills h1{
    text-transform: capitalize;
    letter-spacing: .5rem;
    font-size: 2rem;
    position: absolute;
    top: 0;
    display: block;
    margin: 1rem 0;
}
.my-skills ul{
   
    width: 45%;
    font-size: 2rem;
    padding: 1rem;

}
.my-skills li{
    list-style: none;    
    margin: 4.5rem 0 ;
    position: relative;
}

.my-skills li::before{
    content: "";
    position:absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 95%;
    height: 1rem;
    border-radius: 1rem;
    background-color: rgb(219, 219, 219);
}

.my-skills li::after{
    content: "";
    position:absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 0%;
    height: 1rem;
    border-radius: 1rem;
    background-color:  rgb(51, 48, 48) ;
    animation: .7s forwards ease-in-out ;
}

li.html::after{
    animation-name: html;
}
li.css::after{
    animation-name: css;
}
li.js::after{
    animation-name: js;
}
li.cpp::after{
    animation-name: cpp;
}

li.ps::after{
    animation-name: cpp;
}

li.scss::after{
    animation-name: cpp;
}

@keyframes html{
    to{
        width: 90%;
    }
}

@keyframes ps{
    to{
        width: 75%;
    }
}
@keyframes scss{
    to{
        width: 60%;
    }
}

@keyframes css{
    to{
        width: 80%;
    }
}

@keyframes js{
    to{
        width: 60%;
    }
}

@keyframes cpp{
    to{
        width: 70%;
    }
}



@media (max-width:768px){
  
    
    .navbar.responsive{
        position:fixed;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: black;
        display: inline-block;
        font-size: 7rem;
        color: white;
        padding: 2rem 1rem;
        padding-top: 10rem;
        
        backface-visibility: hidden;
        transition: all .5s ease-in-out;
    }

    .navbar.responsive .list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        margin: 2rem;
        
    }

    .navbar.responsive .list:hover{
        color: lightgray;
    }
    
}


@media (max-width:700px){
    html{
        font-size: 55%;
        
    }

    body{
        position: relative;
    }

    header{
        padding-top: 3rem;
    }
    
    header .logo{
        font-weight: 700;
        font-size: 4rem;
        color: #ff9f43;
        margin-left: -2rem;

    }

    .icon{
        display: block;
        position: absolute;
        right: 2.5rem;
        top: 3.6rem;
        font-size: 3rem;
        color: orange !important;
    }

    .navbar{
        display: none;
    }

    .welcome_img{
        max-width: 48rem;
    }

    .welcome_text_div{
        margin-right: auto;
    }    
     
    .my-skills{
        background-color: rgb(49, 49, 49);
        height: 75rem;
        color: white;
    }
    .my-skills li::after{
        
        background-color:  rgb(240, 148, 0) ;
       
    }
    .my-skills h1{
        text-transform: capitalize;
        letter-spacing: .5rem;
        font-size: 2.5rem;
        display: block;
        margin-top: 4rem;
        border-bottom: 3px lightgray solid;
    }
    .skill-img{
        display: none;
    }

    .my-skills ul{
        width: 100%;
        padding: .5rem 2rem;
    
    }
}
